.notFound {
    font-size: 20px;
    margin-top: 10px;
    color: #999999;
}
 
/* Style the message */
p {
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin: 10px;
}
 
.icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: #999999;
    margin-top: 100px;
    background-color: #c9d0da;
    border-radius: 10px;
    padding: 10px;
 
}
 
/* .container-fluid {
    margin-top: 40px;
    margin-bottom: 0%;
    padding-bottom: 0%;
 
}
 
.container {
    padding: 0%;
    margin-bottom: 0%;
    height: 600px;
} */
 
h1.text-start {
 
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
    color: #333333;
}